@{
    ViewBag.Title = "Home Page";
}

<h1> Add Data Admin</h1>

<ul class="nav navbar-nav">
    <li>@Html.ActionLink("Catagory", "Create", "Catagories")</li>
    <li>@Html.ActionLink("Brand", "Create", "Brands")</li>
    <li>@Html.ActionLink("Product", "Create", "Products")</li>
</ul>